.tasks{
  margin: 12px 24px 12px 18px;

  &Body{
    margin-bottom: 24px;
    padding: 18px 24px 18px 24px;
    border: 1px double lightgray;
    border-radius: 8px;
  }

  &Status{
    font-weight: bold;
    font-style: italic;
    display: inline-block;

    &InProgress{
      color: blue;
    }
    &Done{
      color: green;
    }
    &Todo{
      color: red;
    }
  }

  &Date{
    font-weight: bold;
    display: inline-block;
  }
}



