.selectAddon {
  width: 150px;
  display: inline-block;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block;
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  width: 100%;
}

.react-datepicker__input-container input {
  height: 32px;
  border-color: white;
  border-width: 0px;
  padding-left: 8px;
}