.card {
  margin: 280px auto 0 auto;
  max-width: 600px;
  background: #fff;
  padding: 36px 40px 36px 40px;
  border-radius: 5px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  text-align: center;
}
